.devotionals {
  max-width: 800px;      
  margin: 0 auto;
  padding: 40px 20px;    
  display: flex;
  flex-direction: column;
  align-items: center;  
  min-height: 100vh;
}

.fonte-url{
  overflow-wrap: break-word;
}
.devotionals h1 {
  text-align: center;
  color: #004aad;       
  margin-bottom: 20px;
  font-size: 2rem;
  font-family: Luminar-Bold, sans-serif;

}

.reflexao {
  text-align: center;    
  font-style: italic;
  color: #555;
  margin-bottom: 40px;
  line-height: 1.6;
  font-size: 1.1rem;
  max-width: 600px;      
}

.text {
  width: 100%;           
}

.texto {
  text-align: justify;   
  line-height: 1.8;      
  margin-bottom: 20px;   
  color: #333;
  font-size: 1.05rem;
}

@media (max-width: 600px) {
  .texto {
    text-align: left;    
  }
  
  .devotionals h1 {
    font-size: 1.5rem;
  }
}