.titulo-fotos {
  color: #333;          /* Garante uma cor visível */
  text-align: center;    /* Centraliza */
  display: block;       /* Garante que se comporte como bloco */
  margin-bottom: 20px;    /* Dá espaço para o carrossel */
}